*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto","Playfair Display";
}
header{
    display: flex;
    gap: 10px;
}
.link{
    float: right;
    list-style-type: none;
    margin: 0 5px;
}
.bio-h1,.footer_header,h1{
    text-align: center;
}
footer{
    display: flex;
    gap: 10px;
}
.card{
    width: 35vw;
    align-items: center;
}
.main_content{
    max-width: 85vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.git_links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
}
.git_links>li,.footer_links>li{
    margin: 5px;
}
a{
    text-decoration: none;
    color:black;
    opacity:0.4;
    transition: opacity 1s ease-in-out;
}
a:hover{
    opacity:1;
}
.footer_links{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#description{
    text-align:center;
}

@media (prefers-reduced-motion:no-preference){ 
    .header_img,.footer_img,.main_img{
    scale:.8;
    opacity: 0;
    width: 50vw;
    object-fit: cover;
    animation: fade-in linear forwards;
    animation-timeline: view() ;
    animation-range:150px 300px;
}
@keyframes fade-in{
    to{
        scale: 1;
        opacity: 1;
    }
}
 }
.blur_load{
    background: url('./views/images/icon-small.webp');
}
.main_blur_load{
    background: url('./views/images/Restaurant_small.webp');
}
.blur_load,.main_blur_load{
    width: 50vw;
    filter: blur(10px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width:800px){
    header,footer,.main_content{
        display: flex;
        flex-direction: column;
    }
    .main_content{
        max-width: 60vw;
        margin: 5px;
        padding: 5px;
    }
    .card{
        width: 100%;
        align-items: center;
       
    }
    h2{
        text-align: center;
    }
    .blur_load,.main_blur_load{
        width: 100vw;
    }
    .header_img,.footer_img,.main_img{
        width: 100vw;
        height: 100%;
    }
}